version: '3.9'

services:
  frontend:
    container_name: frontend
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    
    ports:
      - '3000:3000'

    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.frontend.rule=Host(`www.yasarcakir.com`)'
      - 'traefik.http.routers.frontend.entrypoints=web'
  backend:
    container_name: backend
    build: 
      context: .
      dockerfile: Dockerfile

    environment:
      - NODE_ENV=production
    
    ports:
      - '4000:4000'
    
    # Traefik stuff
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.backend.rule=Host(`api.yasarcakir.com`)' 
      - 'traefik.http.routers.backend.entrypoints=web'
  traefik:
    image: traefik:latest
    container_name: traefik
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"

    ports:
      - '80:80'
      - '443:443'

    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

