name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Get current date # get the date of the build
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d--%M-%S')"
      
    - name: Login to Github Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/ysrckr/traefik-backend:${{ steps.date.outputs.date }}
      
    - name: Push to Github Container Registry
      run: docker push ghcr.io/ysrckr/traefik-backend:${{ steps.date.outputs.date }}
